.container {
    background-color: darkslateblue;
}

.bg-image {
    background-image: url('../sahbag/8392161.jpg');
    background-size: cover;
    /* Ensures the image covers the element */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    width: 100%;
    /* Ensure it spans the full width of its container */
}

.bg-image {
    height: 30vh;
}

@media (max-width: 768px) {
    .bg-image {
        height: 150px;
    }
}

@media (max-width: 480px) {
    .bg-image {
        height: 100px;
    }
}

.logo {
    background-image: url('../sahbag/logo4.png');
    background-size: contain;
    /* Ensures the image covers the element */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    width: 100%;
    /* Ensure it spans the full width of its container */
    height: 100%;
}

.image1 {
    background-image: url('../sahbag/06.jpg');
    background-size: contain;
    /* Ensures the image covers the element */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    width: 100px;
    /* Ensure it spans the full width of its container */
    height: 100px;
    border-radius: 50%;
}

.image2 {
    background-image: url('../sahbag/18907.jpg');
    background-size: cover;
    /* Ensures the image covers the element */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    width: 100px;
    /* Ensure it spans the full width of its container */
    height: 100px;
    border-radius: 50%;
}

.image3 {
    background-image: url('../sahbag/485654-PH172E-105.jpg');
    background-size: cover;
    /* Ensures the image covers the element */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    width: 100px;
    /* Ensure it spans the full width of its container */
    height: 100px;
    border-radius: 50%;
}

.image4 {
    background-image: url('../sahbag/6349365.jpg');
    background-size: cover;
    /* Ensures the image covers the element */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    width: 100px;
    /* Ensure it spans the full width of its container */
    height: 100px;
    border-radius: 50%;
}

.border-text {
    color: white;
    border-bottom: dotted 2px gray;
    padding-bottom: 5px;
}

.contact-footer {
    background-color: darkslateblue;
    height: 100px;
    width: 100%;
}

.container {
    padding: 0 10px;

}

.image1,
.image2,
.image3,
.image4 {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .col-sm-3 {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }

    .image1,
    .image2,
    .image3,
    .image4 {
        height: 100px;
    }
}

.footer2 {
    background-color: darkslateblue;
    height: 100px;
}

.footer3 {
    background-color: rgb(29, 22, 73);
    height: 50px;
}

.footer4 {
    background-color: darkslateblue;
    height: 70px;
}

.icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.icon-text {
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding-left: 5px;
}