
.footerbox{
    width: 100%;
    height: auto;
}
.bg-image {
    background-image: url('/img/footer-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 180px;
    filter: hue-rotate(-400deg);
    width: 100%;
}
.contentBox{
    display: flex;
    justify-content:space-between;
    background-color: #0f283e;
    padding: 100px;
    flex-wrap: wrap;
}
.box{
    text-align: center;
}
@media (max-width: 768px) {
    .bg-image {
        height: 20vh;
    }

    .text-light {
        color: #f8f8f8 !important;
        margin: 10px;
        justify-content: center;
    }
}

.colour {
    background-color: #213f5b;
}

.logo {
    background-image: url(/img/macreel.png);
    background-size: contain;
    /* background-position: center; */
    background-repeat: no-repeat;
    width: 100%;
    height: 60px;
}

.image1 {
    background-image: url('/img/bg-img-footer.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.image2 {
    background-image: url('/img/bg-img-footer.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.image3 {
    background-image: url('/img/bg-img-footer.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


.image4 {
    background-image: url('/img/bg-img-footer.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.border-text {
    color: white;
    border-bottom: dotted 2px gray;
    padding-bottom: 5px;
}

.footer3 {
    background-color: #0f283e;

}

.icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.icon-text {
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding-left: 5px;
}
